<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/css/stylesheet.css">
    <title>FileGate</title>
</head>
<body class="flex w-full h-screen">
    <!-- sidebar -->
    {{ template "sidebar.html" . }}

    <!-- main container -->
    <div class="w-4/5 flex flex-col h-full">
        <div class="p-4 bg-zinc-50 w-full flex justify-between items-center">
            <div class="flex space-x-4 mx-5 items-center">
                <a href="/files/" class="flex items-center space-x-2">
                    <img src="/static/assets/logo/filegate-open-512.png" alt="Logo" class="h-12 object-cover">                    
                    <span class="font-bold text-slate-700 text-lg px-2 py-2">FileGate</span>
                </a>
            </div>

            <div class="flex space-x-4 mx-5">
                <a href="/files/upload?path={{.CurrentPath}}" class="px-3 py-2 bg-gray-300 rounded-md">Upload</a>
            </div>
        </div>

        <div class="mx-5 my-5 flex flex-wrap justify-start p-4 gap-4">
            {{$currentPath := .CurrentPath}}
            {{range .Files}}
            <div class="w-full sm:w-1/4 md:w-1/6 lg:w-1/8 hover:bg-gray-100 flex flex-col rounded-md">
                <a href="/files/{{$currentPath}}/{{.Name}}" class="w-full flex-grow overflow-hidden hover:text-gray-500 mb-2 cursor-pointer">

                    <div class="flex justify-center w-full pt-4">
                        <img src="/static/assets/icons/{{.ItemType}}.png" alt="Card image" class="w-1/2 object-cover">
                    </div>
                    
                    <div class="py-4 px-2 text-center w-full">
                        <span class="pb-4 mb-2">{{.Name}}</span>
                        
                    </div>
    
                </a>
                {{if ne .ItemType "dir"}}
                <div class="px-2 pb-2">
                    <a href="/download/{{$currentPath}}/{{.Name}}" class="block w-full text-center text-black bg-gray-50 hover:bg-white rounded-md py-2 cursor-pointer">download</a>
                </div>
                {{end}}
            </div>
            {{end}}
        </div>
    </div>
    
</body>
</html>