<div class="fixed left-0 top-0 h-screen bg-gray-200 w-56">

    <!-- logo -->
    <div class="mx-auto">
        <a href="/files/" class="flex items-center space-x-2">
            <img src="/static/assets/logo/filegate-main-logo-512.png" alt="Logo" class="h-10 object-cover">                    
            <span class="font-bold text-slate-700 text-xl px-2 py-2">FileGate</span>
        </a>
    </div>

    <!-- sections menu -->
    <div class="my-5 pt-10 w-2/3 mx-auto">
        <div class="py-2">
            <a href="/files/" class="inline-block py-1 px-3 w-full bg-gray-300 rounded-md">File Storage</a>
        </div>

        <div class="py-2">
            <a href="/clipboard/" class="inline-block py-1 px-3 w-full hover:bg-gray-300 rounded-md">Clipboard</a>
        </div>
    </div>
</div>